.DS_Store
._*
__MACOSX/
.AppleDouble/

includes/config.php
db/*.bak
db/*.local.sqlite

assets/uploads/avatars/*
assets/uploads/backgrounds/*
assets/uploads/files/*
assets/uploads/voice/*
assets/uploads/webcam/*

!assets/uploads/avatars/.gitkeep
!assets/uploads/backgrounds/.gitkeep
!assets/uploads/files/.gitkeep
!assets/uploads/voice/.gitkeep
!assets/uploads/webcam/.gitkeep
